.container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.cell {
    border: 1px solid #000;
    position: relative;
}

.goblin {
    background-size: cover;
    background-repeat: no-repeat;
}